* {
    /* background-color: #334A45; */
    margin: 0;
    padding 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    background-image: url(assets/background1.png);
}

.header {
    padding: 25px 60px;
    display: flex;
    justify-content: flex-start;
}

.about-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
    font-size: 30px;
    color: black;
}

.about-headline img {
    opacity: 0.8;
    margin: 60px;
    border-radius: 50px 50px 50px 0px;
    width: 40%;
}

#contact a {
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 60px;
    margin-bottom: 25px;
}
.footer p {
    color: black;
    font-family: 'Barlow Thin', sans-serif;
}

.footer-right {
    width: 75px;
    display: flex;
    justify-content: space-between;
}



@media (max-width: 768px){
    .header {
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }
   
    .about-headline {
        margin: 60px 60px 0 60px;
        font-size: 25px;
        display: flex;
        flex-direction: column;
    }

    .about-headline img {
        width: 60%;
    }


}



    /* notes:
    -project descriptions
    -about page
    -new project images


    font-family: 'Barlow', sans-serif;
    font-family: 'Playfair Display', serif; 
    font-family: 'Permanent Marker', cursive;
    color: #B7E3E4 - blue
    color: #F03F35 - red

    color: #162BF4 - bright blue
    color: #EEC0DB - mauve

    color: #FB9B2A - yellow
    color: #0C00FF = bright blue

    color: #D1E9E3 - light blue
    color: #334A45 - dark green
    color: #F3BFA9 - beige 

    color: #0C485E - slate blue
    color: #FEB904 - gold
    color: #C7C6C4 - light grey
    */