* {
    background-color: #334A45;
    margin: 0;
    padding 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.header {
    padding: 0 60px;
    margin-top: 25px;
    font-family: 'Barlow', sans-serif;
    display: flex;
    justify-content: center;
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 60px 100px 60px;
    font-size: 60px;
    font-family: 'Barlow', sans-serif;
    color: #C7C6C4;
}

.headline img {
    opacity: 0.7;
    border-radius: 50px 50px 50px 0px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 60px;
    margin-bottom: 25px;
}
.footer p {
    color: #C7C6C4;
    font-family: 'Barlow Thin', sans-serif;
}

.footer-right {
    width: 75px;
    display: flex;
    justify-content: space-between;
}




    /* notes:
    -project descriptions
    -about page
    -new project images


    font-family: 'Barlow', sans-serif;
    font-family: 'Playfair Display', serif; 
    font-family: 'Permanent Marker', cursive;
    color: #B7E3E4 - blue
    color: #F03F35 - red

    color: #162BF4 - bright blue
    color: #EEC0DB - mauve

    color: #FB9B2A - yellow
    color: #0C00FF = bright blue

    color: #D1E9E3 - light blue
    color: #334A45 - dark green
    color: #F3BFA9 - beige 

    color: #0C485E - slate blue
    color: #FEB904 - gold
    color: #C7C6C4 - light grey
    */