* {
    margin: 0;
    padding 0;
    box-sizing: border-box;
    background-color: #334A45;
}

html {
    scroll-behavior: smooth;
}

/* .container {
    display: grid; 
    grid-template-rows: 75px 30% 100px 1fr 1fr 1fr 75px;
    grid-template-columns: 1fr 1fr;
} */

.header {
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    font-family: 'Barlow', sans-serif;
    /* grid-column: span 2;
    grid-row: span 1; */
}

.header img {
    display: flex;
    align-items: center;
}

.header-left {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.header-right {
    width: 150px;
    display: flex;
    justify-content: flex-end;
}

.header a {
    text-decoration: none;
    color: #C7C6C4;
    font-weight: 200;
}


.headline {
    padding: 60px 20%;
    margin: 50px 0 100px 0;
    text-align: center;
    font-size: 60px;
    font-family: 'Barlow', sans-serif;
    color: #C7C6C4;
    /* grid-column: span 2;
    grid-row: span 1; */
    /* display: flex;
    align-items: center;
    justify-content: center; */

}

.name {
    color: white;
    font-size: 65px;
}

.project-headline {
    /* font-family: 'Barlow', sans-serif;
    padding: 0 0 25px 60px;
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap; */
}

#project-grid {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 40px;
    margin: 0 60px;
    /* grid-column: span 2;
    grid-row: span 2; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
}

.project {
    font-family: 'Barlow', sans-serif;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    flex-wrap: wrap;
}

.project-text {
    margin: 25px 0 50px 25px;
    color: #C7C6C4;
}

.project img {
    margin-bottom: -3px;
    width: 100%;
    border-radius: 50px 50px 50px 0px;
    opacity: 0.8;
}

#contact {
    font-family: 'Barlow', sans-serif;
    padding: 50px 60px;
    margin: 100px 0 100px 0;
    color: #C7C6C4;
    /* grid-column: span 1;
    grid-row: span 1;
    display: flex;
    align-content: center;
    flex-wrap: wrap; */
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 60px;
    margin-bottom: 25px;
    /* grid-column: span 2;
    grid-row: span 1; */
}
.footer p {
    color: #C7C6C4;
    font-family: 'Barlow Thin', sans-serif;
}

.footer-right {
    width: 75px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 900px){
    .project-grid {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 800px){
    .headline {
        font-size: 30px;
        margin-bottom: 50px;
    }
}

    /* notes:
    -project descriptions
    -about page
    -new project images


    font-family: 'Barlow', sans-serif;
    font-family: 'Playfair Display', serif; 
    font-family: 'Permanent Marker', cursive;
    color: #B7E3E4 - blue
    color: #F03F35 - red

    color: #162BF4 - bright blue
    color: #EEC0DB - mauve

    color: #FB9B2A - yellow
    color: #0C00FF = bright blue

    color: #D1E9E3 - light blue
    color: #334A45 - dark green
    color: #F3BFA9 - beige 

    color: #0C485E - slate blue
    color: #FEB904 - gold
    color: #C7C6C4 - light grey
    */