* {
    margin: 0;
    padding 0;
    box-sizing: border-box;
}

/*
font-family: 'Barlow', sans-serif;
font-family: 'Playfair Display', serif; 
color: #B7E3E4 - blue
color: #F03F35 - red
*/

.grid-container {
    display: grid;
    grid-template-rows: 50px 30% 100px 1fr 1fr 400px 50px;
    grid-template-columns: 1fr 1fr;
}

.header {
    grid-column: span 2;
    grid-row: span 1;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Barlow', sans-serif;
}

.header-left {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: black;
    font-weight: 200;
}

.name {
    color: #F03F35;
    margin-left: -100px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

.headline {
    grid-column: span 2;
    grid-row: span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 25%;
    text-align: center;
    font-size: 50px;
    font-family: 'Playfair Display', serif; 
}

.project-headline {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Barlow Thin', sans-serif;
    padding-left: 60px;
}

.project-container {
    grid-column: span 2;
    grid-row: span 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-bottom: 20px;

}

.img-container {
    width: 100%;
    height: auto; 
    background-color: #B7E3E4;
    border-radius: 50px 50px 50px 0;
}

.project-text {
    margin: 25px 0 50px 0;
    width: 90%;
}

.project img {
    padding: 25px 25px 0 25px;
    border-radius: 50px 50px 0 0;
    margin-bottom: -5px;
    width: 80%;

}

.contact {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Barlow', sans-serif;
    padding: 200px 0 100px 60px;
}

.footer {
    grid-column: span 2;
    grid-row: span 1;
    background-color: #F03F35;
}