* {
    margin: 0;
    padding 0;
    box-sizing: border-box;
}

/*
font-family: 'Barlow', sans-serif;
font-family: 'Playfair Display', serif; 
color: #B7E3E4 - blue
color: #F03F35 - red
*/

.grid-container {
    display: grid;
    grid-template-rows: 50px 350px 150px 1fr 1fr 150px 50px;
    grid-template-columns: 1fr 1fr
}

.header {
    grid-column: span 2;
    grid-row: span 1;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
}

nav a {
    text-decoration: none;
    color: white;
}

.name {
    color: #F03F35
}

button {
    text-decoration: none;
}

.headline {
    grid-column: span 2;
    grid-row: span 1;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px 350px;
    text-align: center;
    font-size: 50px;
    font-family: 'Playfair Display', serif; 
}

.main {
    grid-column: span 2;
    grid-row: span 3;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact {
    grid-column: span 2;
    grid-row: span 1;
    background-color: beige;
}

.footer {
    grid-column: span 2;
    grid-row: span 1;
    background-color: black;
}